<h1>Welcome to the Car Simulator</h1>
<br/>
<hr/>
<br/>
<%= @make %>
<%= @year %>
<form class="" action="build" method="get">
  <input type="text" name="make" placeholder="Make"/>
  <input type="text" name="year" placeholder="Model Year"/>
  <input type="submit" value="Simulate Car"/>
</form>
